.App {
  text-align: center;

  .header-container{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;

    p {
      color: #CC8C62;
    }
    @media (max-width: 800px){
      height: 30vh
    }
  }
}
